<div class="home">

  <div class="row">
    <div class="col-sm-12 col-md-6" id="logo-img">
      <img class="logo" src="assets/images/logo.png" alt="logo" width="200" height="200">
    </div>
    <div class="col-sm-12 col-md-6">
      <p id="logo-text"> Analyse the offers. </p>
      <p id="date-text"> Request made at 29/01/2010 </p>
    </div>
  </div>
  
  <div class="row content">
    <div class="col-sm-12 col-md-12">
      <p id="rateGraph-text"> RateGraph </p>
      <p id="rateGraph-second-text"> See the currency rates through time </p>
    </div>
    <p>
      iframe de powerbi
    </p>
  </div>


  <div class="row content">
    <p>
      MOEDA_DE_ORIGEM {{moedaDeOrigem}}
      MOEDA_DE_DESTINO {{moedaDeDestino}}
      QUANTIDADE_DA_MOEDA_DE_ORIGEM {{quantidadeDaMoedaDeOrigem}}

      primeiro, temos que garantir as informações que estão indo de main 
      moedaorigem, moedadestino, quantidade
    </p>
  </div>
  
  
  

</div>
  
 