.home{
    background-color: #F1F1F1;    
}  

#logo-text{
    font-family: 'Poppins';
    font-size: 28px;
    color: #4E8FB4;
    text-align: center;
    margin-top: 40px;
}

#date-text{
    font-family: 'Poppins';
    font-size: 14px;
    color: #6AB7ED;
    text-align: center;
    margin-top: 20px;
}

#rateGraph-text{
    font-family: 'Poppins';
    font-size: 30px;
    color: #4E8FB4;
    text-align: center;
}

#rateGraph-second-text{
    font-family: 'Poppins';
    font-size: 20px;
    color: #6AB7ED;
    text-align: center;
}

#logo-img{
    text-align: center;
    vertical-align: middle;
}

.content{
    margin: 50px;
    justify-content: center;
}
