.home{
    background-color: #F1F1F1;    
}  

#logo-text{
    font-family: 'Poppins';
    font-size: 28px;
    color: #4E8FB4;
    text-align: center;
    margin-top: 40px;
}

#logo-img{
    text-align: center;
    vertical-align: middle;
}

#content{
    margin: 50px;
    justify-content: center;
}

.content-line1{
    justify-content: center;
    font-family: 'Poppins';
    color: #4E8FB4;  
    display: flex;
}

.content-line2{
    margin-bottom: 10px;
}

.submit-div{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}

.text-div{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.p{
    font-weight: normal;
}

.footer{
    font-family: 'Poppins';
    font-size: 24px;
    vertical-align: middle;
    color: #4E8FB4;
}